<!DOCTYPE html>
<h1><a href="http://localhost:3001/">ShopSurf</a></h1>
<!--<button>
    <a href="/api/workouts""> Shopping </a> </button> <button ><a href=" /api/workouts/add""> add item </a>
</button> -->
<button>
    <a href="http://localhost:3000/"> Shopping </a> </button> <!--<button ><a href=" /api/workouts/add""> add item </a>-->
</button> 

<%if(user) {%>
    hello  <%=user.username%>
    
    <button>
        <a href="/logout">logout</a>
    </button>
<%}else{%>
    <button>
        <a href="/login">login</a>
    </button>
    <%}%>
    <br>
    <br>
    <button ><a href=" /api/workouts/add"">         <img name="img" id="img" style="width: 300px; height: auto;" src="https://media.istockphoto.com/id/1281631373/vector/mockup-template-men-black-t-shirt-short-sleeve.jpg?s=612x612&w=0&k=20&c=SfYrtFXQS2wJ1-R9ozvxhUabJz3cnmH5HXv2sXW_mZk=" />
    </a>
    <button ><a href=" /api/workouts/add2""> <img name="img" id="img" style="width: 300px; height: auto;" src="https://t4.ftcdn.net/jpg/02/88/00/87/360_F_288008739_4i4cguqPGhckA5u65iwAqpNk7Gu6YyeS.jpg" /> </a></button>
</html>