<!DOCTYPE html>
<button>
    <a href="/api/workouts""> Shopping </a> </button> <button ><a href=" /api/workouts/add""> add item </a>
</button> 
<button>
    <a href="/api/workouts/subtract">remove item</a>
</button>
<%if(user) {%>
    hello  <%=user.username%>
    
    <button>
        <a href="/logout">logout</a>
    </button>
<%}else{%>
    <button>
        <a href="/login">login</a>
    </button>
    <%}%>
</html>